@import url(../../../styles/colors.css);
@import url(../../../styles/sizes.css);

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
}

.property-post-button {
  width: 50%;
  padding: 0.25rem 0;
  background-color: #3687d9;
  border: 1px solid #3687d9;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.white-background {
  background-color: white;
}

.dropdown-background {
  background-color: #ffffff;
  border: 1px solid #d8e7f2;
  box-shadow: 0px 4px 8px 0px #33333329;
}

.preferred-text {
  color: var(--textField);
  font-size: var(--xs);
  font-weight: var(--fontWeight400);
  margin-left: 0.5rem;
}

.update-button {
  width: 100%;
  padding: 0.35rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(54, 135, 217, 0.1);
  border: 0.5px solid #376995;
  color: #376995;
}

.update-button-profile {
  width: 100%;
  padding: 0.35rem 1rem;
  text-align: center;
}

.border {
  width: 100%;
  padding: 1.25rem 0;
  border-bottom: 0.5px solid rgba(188, 210, 229, 0.5);
}

.right-icon {
  width: 10px;
  height: 10px;
  color: #376995;
  margin-top: 0.7vh;
  transform: rotate(270deg);
}
