.rectangle-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 8vw;
  height: 10vh;
  border: 1px solid #7d9db8;
  border-radius: 8px;
}

.circle-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 2px solid #7d9db8;
  border-radius: 50%;
}

.hidden-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.addImageIcon {
  width: 20px;
  height: 20px;
  color: #7d9db8;
}
