@import url(../../../styles/colors.css);
@import url(../../../styles/sizes.css);

.login-header {
  width: 100%;
  display: flex;
  padding: 1rem 1.5rem;
  border-bottom: 0.5px solid var(--spaceBorder);
}

.login-body {
  width: 100%;
  padding: 1rem 1.5rem;
}

.login-footer {
  width: 100%;
  display: flex;
  padding: 1rem 1.5rem;
  border-top: 0.5px solid var(--spaceBorder);
}

.continue-button {
  width: 100%;
  padding: 0.25rem 0;
  background-color: #fa9d4b;
  border: 1px solid #fa9d4b;
  color: white;
  font-size: var(--md);
  border-radius: 4px;
}

.input {
  width: 2rem;
  text-align: center;
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.heading-text {
  color: var(--white);
  font-size: var(--lg);
  font-weight: var(--fontWeight500);
  margin-bottom: 0;
}

.link-text {
  color: #fa9d4b;
  font-size: var(--xs);
  font-weight: var(--fontWeight400);
  text-decoration: none;
  cursor: pointer;
}

.left-icon {
  width: 15px;
  height: 15px;
  color: #667b85;
  transform: rotate(90deg);
  margin-bottom: 0.25rem;
}
