$lmPrimary: #05447A;
$lmPrimaryDark: #002333;
$lmPrimarylight: #3A85BF;
$lmSecondary: #EBF0F5;
$labelText: #434356;
$textField: #696978;
$helperText: #777777;
$defaultTextFieldBorder: #D2D2D7;
$activeTextFieldBorder: #376995;
$disabledTextFieldBorder: #DFDFE2;
$disabledTextFieldBoxBg: #F2F2F2;
$diabledCheckbox: #BBBBC2;
$dropdownBorder: #D8E7F2;
$tertiaryAction: #777777;
$inactiveButton: #7D9DB8;
$defaultIcon: #667B85;
$activeIcon: #FFFFFF;
$inactiveSlider: #C4C4C4;
$filterTextFieldActive: #33496B;
$primaryButtonHover: #043866;
$secondaryButtonHover: #E1E6EB;
$outlinedButtonHover: #F5F8FA;
$tertiaryButtonHover: #F5F5F5;
$tableHeaderBg: #F5F6FA;
$tableBorder: #ECECEE;
$auditActive: #223A60;
$auditBoxBg: #F7FAFC;
$auditBoxBgDark: #cfd7e0;
$success: #07B871;
$success2: #2A9D8F;
$warning: #F49025;
$reject: #F20C33;
$reject2: #D6564D;
$white: #FFFFFF;
$black: #000000;
$spaceBorder: #9BB4CA;
$scrollBackground: #EBF2F8;
$badgeLayoutBg: #77777714;
$timesIcon: #D6564D;
$lmPrimary2:#004666;
$lmPrimary3:#002333;
$calllogBgLight:#F9F9F9;
$barColor:#D9D9D9;
$tableBg:#FAFCFD;
$lmGrey:#223a6014;
$lineBg1:#9BB4CA;
$lineBg2:#09BBCA;
$selectBox:#43435666;
$textColor:#434356cc;
$badgeBg1:#00233314;
$badgebg2:#223A60;
$delIcon:#D6564D;
$DropdownBg:#193947;
