.space-added-successfully {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.circle-icon {
  width: 100px;
  height: 100px;
  color: var(--success);
}

.space-form-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.person-btn {
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 0.5rem;
}

.form-successfully-submit-text {
  color: var(--labelText);
  font-size: var(--xl);
  font-weight: var(--fontWeight500);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
