@import url(../../../../../styles/colors.css);
@import url(../../../../../styles/sizes.css);

.active-button {
  background-color: #24313f;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 50px;
  margin-right: 0.75rem;
}

.inactive-button {
  background-color: white;
  color: #24313f;
  padding: 0.1rem 1rem;
  border: 0.5px solid #8994a3;
  border-radius: 50px;
  margin-right: 0.75rem;
}

.broker-detail {
  width: 100%;
  display: flex;
  padding: 0.5rem 0 1.5rem 0;
}

.review-type-container {
  width: 100%;
  padding: 1.2rem 0;
  margin-bottom: 1rem;
}

.review-text-container {
  border-top: 0.5px solid #d7d7d7;
  padding: 0.75rem 0;
}

.review-text {
  font-size: var(--sm);
  font-weight: var(--fontWeight400);
  color: var(--textField);
  margin-bottom: 0;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--md);
  font-weight: var(--fontWeight500);
  color: var(--white);
  background-color: #667b85;
}

.name {
  font-size: var(--md);
  font-weight: var(--fontWeight500);
  color: var(--labelText);
  margin: 0;
}

.review-star-icon {
  width: 30px;
  height: 30px;
  color: #fa9d4b;
  margin-right: 1.5rem;
}

.cancel-button {
  width: 100%;
  border: 0.5px solid var(--helperText);
  background-color: var(--white);
  color: var(--helperText);
  font-size: var(--md);
}

.post-button {
  width: 100%;
  border: 0.5px solid var(--helperText);
  background-color: #24313f;
  color: var(--white);
  font-size: var(--md);
}

.write-review-container {
  width: 100%;
  height: 72rem;
}

.review-add-icon {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

.start-icon {
  width: 15px;
  height: 15px;
  color: #fa9d4b;
  margin-right: 0.5vw;
  margin-bottom: 0.3vh;
}

.shield-icon {
  width: 18px;
  height: 18px;
  color: #777777;
  margin-right: 0.5vw;
}
