.input-with-label-on-top {
  width: 100%;
}

.input-with-label-on-top-white {
  width: 100%;
}
.input-with-label-on-top-white label {
  color: white;
}

/* label with input in one line */
.label-input-one-line {
  width: 100%;
  display: flex;
  align-items: center;
}
.label-input-one-line label {
  width: 25%;
}
.label-input-one-line .input-div {
  width: 30%;
}
/* ************* */

.label {
  font-size: 12px;
  font-weight: 400;
  color: #434356;
  margin-bottom: 0.4rem;
}

.input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  line-height: 1.2rem;
  font-weight: 400;
  color: #696978;
  background-color: white;
  border: 1px solid #d2d2d7;
  border-radius: 4px;
  width: 100%;
}

input::placeholder {
  font-size: 12px;
  color: #777777;
}

input:focus {
  color: #696978;
  background-color: white;
  border-color: #376995;
  outline: none;
  box-shadow: none;
}
input:disabled {
  border: 1px solid #d2d2d7;
  color: #696978;
  background-color: #f2f2f2;
}

.active {
  border-color: #376995;
}

.success {
  border-color: #07b871;
}

.error {
  border-color: #f20c33;
}
.warning {
  border-color: #f49025;
}

.input-helper-text {
  font-size: 10px;
  color: #777777;
  line-height: 1rem;
  margin: 0;
}

.error-text {
  color: #f20c33;
}
