.badge {
  height: 1.3rem;
  padding: 0 0.9rem;
  background-color: #7777771a !important;
  color: #777777 !important;
  margin-left: 1.5rem;
  margin-top: 0.25rem;
}

.card {
  width: 30%;
  margin-top: 1.5rem;
}

.graph-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  color: #777777;
}
